.img {
  background-image: url("../assets/logo.jpg");
  width: 25rem;
  height: 25rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid black;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }
}

.img:hover {
  background-image: url("../assets/logo.jpg");
  width: 30rem;
  height: 30rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid black;

  @media (max-width: 500px) {
    width: 28rem;
    height: 28rem;
  }

  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }
}

.herocontainer {
  min-height: 100vh;
  width: 100%;
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10%;

  &--container {
    display: flex;
    align-items: center;
    gap: 100px;

    h4 {
      font-size: 40px;
    }
  }
}

.myname {
  font-size: 30px;
}

.btn-cv {
  width: 180px;
  height: 50px;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  font-size: 15px;
}

.btn:hover {
  box-shadow: 0 0 5px 0 #000000 inset, 0 0 10px 4px #000000;
}

.cv {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
  }

  &__btn {
    border: var(--border);
    height: 50px;
    width: 150px;
    color: var(--text-primary);
    border-radius: 10px;
  }

  &__btn:hover {
    background-color: var(--background);
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
}
/* .icons.cv {
  color: black;
  margin-right: 100px;
} */
@media screen and (max-width: 800px) {
  .img {
    width: 15rem;
    height: 15rem;
  }

  .img:hover{
    width: 17rem;
    height: 17rem;
  }

  .hero {
    &--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h4 {
        font-size: 30px;
      }
    }
  }
  .logo {
    width: 240px;
  }

  .myname {
    color: #000000;
    font-size: 25px;
  }
}

.habilities{
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.habilities>img{
  width: 3.5rem;
  padding-bottom: 5%;
}

@media screen and (max-width: 430px) {
  .herocontainer{
    padding-top: 15%;
  }
  
  .hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10%;

    &--container {
      display: flex;
      align-items: center;
      gap: 20px;

      h4 {
        font-size: 30px;
      }
    }
  }
  .logo {
    width: 240px;
  }
  .myname {
    color: var(--text-primary);
    font-size: 25px;
    transition: all .5s ease-in-out;
  }
}

@media screen and (max-width: 290px) {
  .hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10%;

    &--container {
      display: flex;
      align-items: center;
      gap: 100px;

      h4 {
        font-size: 30px;
      }
    }
  }
  .logo {
    width: 240px;
  }
  .myname {
    color: #000000;
    font-size: 25px;
    padding-bottom: 6%;
  }
}