/* CONTAINER CARDS */
.grid-cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 2rem;
}

/* CARD */
.card {
  border: 1px solid var(--border);
  border-radius: 7px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  box-shadow: var(--shadow);
  width: 30rem;
}

.card .card-image-clinica {
  width: 100%;
  min-height: 120px;
  border-radius: 5px;
  background-image: url("../assets/clinicamedica.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card .card-image-fourcorners {
  width: 100%;
  min-height: 120px;
  border-radius: 5px;
  background-image: url("../assets/fourcorners2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card .card-image-luxury {
  width: 100%;
  min-height: 120px;
  border-radius: 5px;
  background-image: url("../assets/luxury.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card .card-image-cine {
  width: 100%;
  min-height: 120px;
  border-radius: 5px;
  background-image: url("../assets/thecinephile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card .card-description {
  text-align: left;
  color: var(--text-secondary);
  font-weight: lighter;
}

.card .card-container-buttons {
  display: flex;
  gap: 2rem;
}

.card .card-container-buttons a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: var(--accent);
  border-radius: 5px;
  color: var(--text-primary);
  border: 1px solid black;
}

.card .card-container-buttons button:hover {
  background-color: var(--accent-hover);
}

.card .card-container-buttons button:active {
  background-color: var(--accent);
}

.title-projects {
  padding-bottom: 20px;
  padding-bottom: 200px;
  padding-top: 200px;
}

.title-projects > h3 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 3%;
}

@media screen and (max-width: 800px) {
  .grid-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title-projects{
    padding-top: 25%;
    padding-bottom: 25%;

    h3{
      padding-bottom: 20px;
    }
  }

  .card {
    width: 20rem;
  }
}

@media screen and (max-width: 650px) {
  .grid-cards {
    grid-template-columns: 1fr;
  }

  .title-projects{
    padding-top: 25%;
    padding-bottom: 25%;
  }
  .title-projects>h3{
    padding-bottom: 5%;
  }
}
