.mobile-menu {
  cursor: pointer;
  display: none;

  svg {
    width: 25px;
  }

  @media (max-width: 900px) {
    display: flex;
  }
}

.closed-menu {
  left: -100% !important;
}

.open-menu {
  left: 0 !important;
}

.mobile-nav {
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 300;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  span {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.6rem;
    list-style: none;

    a {
      color: var(--text-primary);
      text-decoration: none;
      font-weight: 500;
    }
  }
}

nav {
  font-size: 1rem;
  width: 100%;
  height: auto;
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: fixed;
  background-color: var(--background);
  transition: all .5s ease-in-out;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
  z-index: 200;
  align-items: center;

  @media (max-width: 400px) {
    padding: 25px 30px 25px 30px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3rem;
    padding-right: 6%;

    

    a {
      color: var(--text-primary);
      text-decoration: none;
      transition: all 0.23s;
      font-weight: 600;
      cursor: pointer;

      @media (max-width: 900px) {
        display: none;
      }
    }
  }
}

@media (max-width: 400px) {
  nav{
    ul{
      gap: 0rem;
    }
  }
}

.logo {
  cursor: pointer;
  color: var(--text-primary);
  padding-left: 6%;
}

.switchnavbar{
  width: 140px;
}

/* .svghamburguer{
  color: var(--text-primary);
}
 */
.mobile-menu>svg{
  fill: var(--text-primary);
}